*{
     margin :0;
     font-family:Arial; 
     border: border-box;
}
 .navbar {
    height: 60px;
    background-color: black;
    color:white
  
 }
 .navbar{
    display: flex;
    align-items: center;
    

 }
 .nav-logo{
    border: 2px solid transparent;
 } 
 .nav-logo:hover {
    border: 1.5px solid rgb(241, 15, 196);
 }
 .nav-address{
    color: white;
    padding: 0px 9px;
    margin: 5px 2px 5px 0px;
 }
 .add-second{
    font-weight: bold;
    color: white;
 }
 
 .nav-option{
   height: 25px;;
   width: 40px;
   border: none;
   background-color: #f3f3f3;
   border-top-left-radius: 4px;
  border-bottom-left-radius: 4px;
  text-align: center;
  cursor: pointer;
  font-size: 14px;


 }
  .nav-search{
    
  }

